body {
  background-color: lightblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
.header {
  text-align: center;
  background-color: rgb(14, 14, 160);
  color: white;
  border-radius: 10px;
  padding: 10px;
  min-width: 500px;
}
.heading {
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ext-body {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.ext-input {
  padding-top: 20px;
}
.calculator-body {
  min-width: 400px;
  background-color: skyblue;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgb(108, 108, 216);
  padding: 20px;
}
.display-area {
  min-width: 300px;
  min-height: 100px;
  max-width: 380px;
  background-color: rgb(0, 0, 59);
  color: aliceblue;
  display: flex;
  justify-content: flex-end;
  border-radius: 25px;
  padding: 10px;
}
.display-data {
  display: flex;
  align-items: center;
  margin: 0px;
  font-size: 80px;
}
.button {
  height: 55px;
  color: black;
  background-color: rgb(81, 62, 255);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s, border-radius 0.2s;
  font-size: 30px;
  font-weight: 500;
}

.button:active {
  background-color: blue;
  color: white;
  border-radius: 10px;
  animation-name: example;
  animation-duration: 0.2s;
}
.input-buttons {
  border-radius: 25px;
  display: grid;
  grid-template-areas:
    "control-buttons control-buttons control-buttons operator-buttons operator-buttons"
    "number-buttons number-buttons number-buttons operator-buttons operator-buttons"
    "number-buttons number-buttons number-buttons operator-buttons operator-buttons"
    "number-buttons number-buttons number-buttons operator-buttons operator-buttons"
    "number-buttons number-buttons number-buttons operator-buttons operator-buttons";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.control-buttons {
  grid-area: control-buttons;
  display: grid;
  grid-template-areas: "clear-button delete-button";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.clear-button {
  grid-area: clear-button;
  background-color: rgb(25, 25, 77);
  color: white;
}
.delete-button {
  grid-area: delete-button;
}
.number-buttons {
  grid-area: number-buttons;
  display: grid;
  grid-template-areas:
    "seven eight nine"
    "four five six"
    "one two three"
    "deci zer zer";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.seven-button-area {
  grid-area: seven;
}
.eight-button-area {
  grid-area: eight;
}
.nine-button-area {
  grid-area: nine;
}
.four-button-area {
  grid-area: four;
}
.five-button-area {
  grid-area: five;
}
.six-button-area {
  grid-area: six;
}
.one-button-area {
  grid-area: one;
}
.two-button-area {
  grid-area: two;
}
.three-buttons-area {
  grid-area: three;
}
.decimal-button-area {
  grid-area: deci;
}
.zero-button-area {
  grid-area: zer;
}
.operator-buttons {
  grid-area: operator-buttons;
  display: grid;
  grid-template-areas:
    "division"
    "multiplication"
    "subtraction"
    "addition"
    "equals";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.division-button-area {
  grid-area: division;
}
.multiplication-button-area {
  grid-area: multiplication;
}
.subtraction-button-area {
  grid-area: subtraction;
}
.addition-button-area {
  grid-area: addition;
}
.equals-button-area {
  grid-area: equals;
}
.operator-buttons > div > div {
  background-color: rgb(23, 13, 156);
  color: white;
}
